.containerPagination{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 25px;

  .btnPage{
    padding: 15px;
    background-color: #fff;
    margin: 0 5px;
    color: #c1c1c1;
    text-transform: none;
  }

  .current{
    padding: 15px;
    margin: 0 5px;
    background-color: #A73B5F;
  }
}
