.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 4px -2px #c1c1c1;
  -moz-box-shadow: 0 4px 4px -2px #c1c1c1;
  -webkit-box-shadow: 0 4px 4px -2px #c1c1c1;

  height: 100px;
  width: 100%;

  .division {
    height: 28px;
    background-color: #c1c1c1;
    width: 2px;
    margin: 0 25px;
  }

  .containerLeft {
    display: flex;
    justify-content: center;
    align-items: center;

    .btnLogo {
      padding: 15px;
      margin-left: 50px;
      border-radius: 16px;
      background: #8a2387;
      background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
      background: linear-gradient(to right, #f27121, #e94057, #8a2387);
    }

    .btnDefender {
      padding: 15px;
      background-color: #fff;
    }

    .btnPerson {
      padding: 15px;
      background: #8a2387;
      background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
      background: linear-gradient(to right, #f27121, #e94057, #8a2387);
    }

    .containerSearch {
      margin-left: 40px;
      box-shadow: 0 2px 3px -2px #c1c1c1;
      -moz-box-shadow: 0 4px 4px -2px #c1c1c1;
      -webkit-box-shadow: 0 4px 4px -2px #c1c1c1;
    }
  }

  .containerRight {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;

    .btnTune {
      padding: 15px;
      background-color: #fff;
    }

    .btnInclude {
      padding: 15px;
      margin-left: 25px;
      background-color: #a73b5f;
    }
  }
}

.headerFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 500px;
  min-height: 100px;
  padding: 0 25px;

  box-shadow: 0 4px 4px -2px #c1c1c1;
  -moz-box-shadow: 0 4px 4px -2px #c1c1c1;
  -webkit-box-shadow: 0 4px 4px -2px #c1c1c1;

  .headerLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
      margin-left: 20px;
    }
  }

  .btnClose {
    padding: 15px;
    margin-left: 25px;
    background-color: #fff;
  }
}

.contentFilter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  max-width: 500px;
  min-height: 100%;
  padding: 40px 25px 0 25px;
  background-color: #f1eded;

  p {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #474646;
    flex-direction: column;
    font-style: italic;
  }
  .trace {
    margin-top: 10px;
    height: 3px;
    width: 25px;
    background-color: #807e7e;
  }
}
