.containerTable {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding: 50px;
  min-width: 750px;
}

.contentTable {
  box-shadow: 5px 0px 20px -2px #c1c1c1;
  -moz-box-shadow: 5px 0px 20px -2px #c1c1c1;
  -webkit-box-shadow: 5px 0px 20px -2px #c1c1c1;
}

.utils{
  opacity: 0;
}

.row:hover{
  .overlay {
    display: flex;
    justify-content: flex-end;

    position: absolute;
    z-index: 10;
    
    width: calc(100% - 100px);
    min-width: 750px;
    height: 75px;
    padding-right: 100px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #DE3169;

  }

  .utils{
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 1;
    position: absolute;
    z-index: 100;
    border: none;
    padding-left: 40px;
  }
}
